<%- include("../partials/header") %>


<div class="container">
   <header class="jumbotron">
      <div class="container">
         <h1>Study Spots</h1>
         <p>Find th perfect study spot for you!</p>
         <p>
            <a class="btn btn-lg btn-primary" href="/spots/new">Add New Study Spot</a>
         </p>
      </div>
   </header>
   
   <div class='row text-center' style="display:flex; flex-wrap: wrap">
      <% spots.forEach((spot) => { %>
       <div class="col-sm-6">
         <div class="card">
            <img src="<%= spot.image %>">
            <div class="card-body">
               <h5 class="card-title"><%= spot.name %></h5>
               <a href="/spots/<%= spot._id %>" class="btn btn-primary">Details</a>
             </div>
         </div>
       </div>
   
       <% }) %>      
   </div>
   
</div>



    <%- include("../partials/footer") %>
